{{define "base"}}
<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.Meta.Title}}</title>
{{if .Meta.Description}}<meta name="description" content="{{.Meta.Description}}">{{end}}
{{range .Meta.HrefLangs}}<link rel="alternate" hreflang="{{.Lang}}" href="{{.URL}}">{{end}}
<link rel="canonical" href="{{.Meta.Canonical}}">
<link rel="icon" type="image/png" href="{{asset "/img/favicon.png"}}">
{{range $k, $v := .Meta.OGTags}}<meta property="og:{{$k}}" content="{{$v}}">{{end}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{.Meta.Title}}">
{{if .Meta.Description}}<meta name="twitter:description" content="{{.Meta.Description}}">{{end}}
{{if .Meta.Image}}<meta name="twitter:image" content="{{.Meta.Image}}">{{end}}
{{if .Meta.JSONLDScript}}{{.Meta.JSONLDScript}}{{end}}
{{template "head" .}}
</head>
<body>
{{template "body" .}}
</body>
</html>
{{end}}
